<!DOCTYPE html>
<html lang="en" ng-app="GRE">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GRE/SAT</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<!--  <link src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet">-->

  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
<!--  <link src="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet" type="text/css">-->


  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/landing-page.min.css" rel="stylesheet">
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-landing-page/5.0.7/css/landing-page.min.css"></script>-->
  <!--Angular-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.5/angular-sanitize.min.js"></script>
  <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
  <script src="js/ngclipboard.min.js"></script>
  <script src="App.js"></script>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>-->

  <!--favicon-->
  <link rel="shortcut icon" href="favicon.ico"/>

<!--  &lt;!&ndash; HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries &ndash;&gt;-->
<!--  &lt;!&ndash; WARNING: Respond.js doesn't work if you view the page via file:// &ndash;&gt;-->
<!--  &lt;!&ndash;[if lt IE 9]>-->
<!--  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
<!--  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->

</head>

<body ng-controller="AppController">

<!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">

    <div class="container">
      <a class="navbar-brand" href="#">GRE Words master</a>
<!--      <a class="btn btn-primary" href="#"></a>-->
    </div>
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>

  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Look up any words you would like!</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form ng-controller="AppController" ng-submit="lookup()">
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="text" class="form-control form-control-lg" placeholder="Words come in here in a comma-separated format!"
                       ng-model="words.name" name="name">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary" data-toggle="modal" data-target="#exampleModal">Search</button>
<!--                ng-click="english=true"-->
              </div>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel" style="color:#000000";>Definitions</h5>
<!--                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                      </button>-->
                    </div>
                    <div ng-show="wordsLoading">
                      <div class="spinner"></div>


                    </div>
                    <div ng-show="!wordsLoading" class="modal-body" style="color:#000000";>
                        {{words}}
                    </div>
                    <div class="modal-footer">
<!--                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                      <button type="button" class="btn btn-primary">Download CSV</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--    End of Modal          -->

            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
  <!-- Footer -->
<!--  <footer class="footer bg-light">-->

<!--    <div ng-show="!wordLoaded">-->
<!--      {{wordLoaded}}-->
<!--    </div>-->
<!--    <div ng-show="wordLoaded">-->
<!--      <center>hello</center>-->
<!--      {{wordLoaded}}-->
<!--&lt;!&ndash;      <div>{{value}}</div>&ndash;&gt;-->

<!--    </div>-->
<!--&lt;!&ndash;    <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">&ndash;&gt;-->
<!--&lt;!&ndash;          <ul class="list-inline mb-2">&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="list-inline-item">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="#">About</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="list-inline-item">&sdot;</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="list-inline-item">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="#">Contact</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="list-inline-item">&sdot;</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="list-inline-item">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="#">Terms of Use</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="list-inline-item">&sdot;</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="list-inline-item">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="#">Privacy Policy</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;          </ul>&ndash;&gt;-->
<!--&lt;!&ndash;          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">&ndash;&gt;-->
<!--&lt;!&ndash;          <ul class="list-inline mb-0">&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="list-inline-item mr-3">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="fab fa-facebook fa-2x fa-fw"></i>&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="list-inline-item mr-3">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="fab fa-twitter-square fa-2x fa-fw"></i>&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="list-inline-item">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="fab fa-instagram fa-2x fa-fw"></i>&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;          </ul>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </footer>-->


<div ng-show="wordLoaded">
  {{words}}

</div>

</body>

</html>
